.HikingSpotContainer {
	margin: 64px auto;

	.Title {

		h3 {
			margin: 0.5rem;
		} // h3

		p {
			font-size: 1rem;
			margin: 0;
			line-height: 1.5rem;
			color: grey;
		} // p

	} // Title

	img {
		max-width: 100%;
		border-radius: 3px;
	
	} // img

	.Links {
		display: flex;
		justify-content: space-around;
		grid-gap: 3px;

		a {
			width: 100%;
			height: 3rem;
			line-height: 3rem;
		} // a

		.AllTrails {

		}

		.ThreeSixty {
			border-left: 1px grey solid;
			border-right: 1px grey solid;
		}

		.Directions {

		} 
	
	} // Links

} // HikingSpotContainer