.NavigationContainer {
	width: 100%;
	overflow: hidden;
	position: fixed;
	bottom: 0;
	background: rgb(255,255,255); // backup color
	background: linear-gradient(0deg, 
		rgba(252,252,252,1) 0%, 
		rgba(252,252,252,1) 94%, 
		rgba(212,212,212,0.4) 95%, 
		rgba(19,19,19,0) 100%
	);
	height: 57px;
	z-index: 10;

	nav {
		display: flex;
		justify-content: space-around;
		height: 100%;

		.Link {
			cursor: pointer;
			display: flex;
			flex-direction: column;
			align-items: center;
			width: 20%;
			text-decoration: none;

			img {
				height: 100%;
				padding: 19px;
							
			} // img

		} // a

	} // nav

	// Desktop header
	@include respond-to("small") {
		height: 72px;
		bottom: unset;
		box-shadow: 0px 0px 18px 2px rgba(19,19,19,0.5);
		position: relative;
		margin: 0px auto;
		max-width: 900px;
		background: rgb(252,252,252);

		nav{
			.Link{
				img{
					padding: 24px;
					transition: 0.16s;
				} // img

				&:hover {

					img {
						padding: 20px;
						margin: 4px;
					} // img
				
				} // Link:hover

				&:active {

					img {
						background: rgba(128,128,128,0.2);
						border-radius: 33%;
					} // img
				
				} // Link:active

			} // Link

		} // nav

	} // media query - small

} // NavigationContainer
