.QuoteContainer {
	margin: 32px auto 32px auto;

	p {
		padding: 0px 6px;
		font-size: 1.125rem;
		line-height: 2rem;

	} // p

	h1 {
		font-size: 1.125rem;
		line-height: 1.5rem;
		margin: 0;
		text-align: right;
		color: rgba(92,92,92,0.5);

	} // h1

	@include respond-to("small") {
		margin-top: 48px;

		p {
			max-width: 500px;
			margin: 16px auto 0px auto;
			font-size: 1.33rem;

		}

		h1 {
			font-size: 1.2rem;
			line-height: 1.5rem;

		}

	} // media query - small

} // QuoteContainer
