
.MicroNutritionContainer {
	margin: 32px auto 92px auto;

	.Title {
		h2{
			margin: 0;
			font-size: 2.4rem;
			line-height: 4rem;

			span {
				font-size: 1rem;
				line-height: 0.5rem;

			} // Micro	

		}

	} // Title

	.Intro {
		padding: 24px 0px;
		max-width: 200px;
		margin: 0px auto;

		p {
			margin: 0;
			line-height: 1.75rem;
		}
	} // Intro

	.Example {
		width: 90%;
		min-width: 275px;
		max-width: 320px; 
		border-top: 1px grey solid;
		border-bottom: 1px grey solid;
		padding: 23px 0px;
		margin: 0px auto;

		h4 {
			font-size: 1.4rem;
			line-height: 1.5rem;
			margin: 0;
		}

		p{
			margin: 0;
			line-height: 2.5rem;
		}

	} // Example

	.Data {
		padding: 32px 0px 8px 0px;
		margin-left: auto;
		width: 80%;
		max-width: 300px;

		p{
			font-size: 1rem;
			line-height: 1.2rem;
			margin: 0;
		}

	} // data


} // MicroNutritionContainer