
.UserApiContainer {
	margin-bottom: 6rem;
	padding-bottom: 6rem;
	cursor: default;
	margin: 32px auto 92px auto;

	.Title {
		width: 60%;
		max-width: 275px;
		margin: 0px auto;
		padding-right: 1rem;
		max-height: 150px;

		h2 {
			font-size: 1.8rem;
			line-height: 1.5rem;
			padding: 0px 9px 12px 0px;
			border-bottom: 1px grey solid;
			margin: 24px auto 3px auto;
		}

		p {
			font-size: 1rem;
			line-height: 1rem;
			margin: 0;
			padding: 0px 0px 0px 92px;
			color: grey;
		}  // Date
	}  // Title


	.Article {		

		.Intro {
			margin: 12px 0px;
			padding: 24px 0px;

			.Text1 {
				color: rgb(32,20,34);
			}

			.Text2 {
				color: rgb(22,32,24);
			}

			.Text3 {
				color: rgb(32,18,22);
			}

			.Text4 {
				color: rgb(28,28,42);
			}

			p {
				line-height: 2.25rem;
				margin: 0;
			}

		} // Intro

		.Goal {
			display: flex;
			flex-direction: column;
			padding: 3px 12px 6px 12px;
			box-shadow: 0px 0px 12px 3px grey;
			margin: 0px auto 32px auto;
			max-width: 275px;
			border-radius: 12px;
			box-shadow: 0px 0px 12px 2px rgba(19,19,19,0.1);

			h5 {
				font-size: 1.4rem;
				line-height: 2.6rem;
				width: 60%;
				margin: 0px auto;
				color: rgba(64,92,112,0.8);

			}

			p {
				padding-left: 5px;
				font-size: 1.2rem;
				line-height: 2rem;
				margin: 0;
			}

		} // Goal

		.Support {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			grid-gap: 12px;
			padding: 12px 3px 16px 3px;

			.Box {
				width: 100%;
				box-shadow: 0px 0px 3px 0px grey;
				border-radius: 12px;
				padding: 12px 0px;
				cursor: wait;

				h4 {
					margin: 2px 0px 14px 0px;
					line-height: 1rem;
				}

				.Launch {
					color: rgb(92,128,232);					
				}

				.Version1 {
					color: rgb(122,228,242);
				}

				.Version2 {
					color: rgb(92,221,112);
				}

				.Version3 {
					color: rgb(252,218,112);
				}

				a {
					color: black;
					cursor: wait;
					text-decoration: none;
				} // micro-nutrition

				p{
					margin: 0;
					line-height: 1.3rem;
					font-size: 1.15rem;
				}

			} // Box

		} // Support

	} // Article


} // UserApiContainer